.barcode-scanner-controller {
  width: 200px;
  margin: 12px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.barcode-scanner-controller button {
  flex-direction: column;
}
