.barcode-listing__search-bar {
  width: 260px;
  margin: 12px auto;
}

.barcode-listing__table {
  margin: auto;
  min-width: 320px;
}

.barcode-listing__scanned-image {
  width: 200px;
  height: auto;
}
