 @import "~@blueprintjs/core/lib/css/blueprint.css";
 @import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.barcode-scanner {
  text-align: center;
}

.barcode-scanner header {
  height: 80px;
}

.barcode-scanner__title {
  line-height: 80px;
  margin: 0;
}

.barcode-scanner__intro {
  margin: 12px 0;
}
