 @import "~@blueprintjs/core/lib/css/blueprint.css";
 @import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.barcode-scanner {
  text-align: center;
}

.barcode-scanner header {
  height: 80px;
}
.barcode-scanner__title {
  line-height: 80px;
  margin: 0;
}

.barcode-scanner-controller button {
  flex-direction: column;
}

.barcode-scanner-canvas, .drawingBuffer {
  display: none;
}

table {
  margin: auto;
  min-width: 320px;
}
